@use './font-face' as *;

$font-stack: 'JosefinSans', 'Tahoma', 'Verdana', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$line-height: 1.15;
$font-size-base: 16px;

:root {
  --font-weight-light: #{$font-weight-light};
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-semibold: #{$font-weight-semibold};
}
