@use './settings/fonts' as *;
@use './settings/typography' as *;
@use './settings/colors' as *;
@use './settings/space' as *;
@use './tools/px-to-rem' as *;
@use './tools/fluid-unit' as *;
@use './tools/media-query' as *;

html {
	font-family: $font-stack;
  font-weight: $font-weight-regular;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
  padding: 0;
	overflow: auto;
	background-image: linear-gradient(135deg, var(--color-pale-pink), var(--color-pale-dark-pink));
}

header {
 	margin: var(--space-margin-top-bottom-s) var(--space-margin-left-right);

  @include mq(tablet) {
    position: absolute; 
    top: 0;
    left: 0;
  }
}

footer {
	display: flex;
	flex-direction: column;
	gap: px-to-rem(8px);
	width: 100%;
	text-align: center;
	position: static;
	margin-bottom: var(--space-s);
	margin-top: var(--space-m);

	@include mq(tablet) {
		width: fit-content;
    left: 0;
		margin: var(--space-margin-top-bottom-s) var(--space-margin-left-right);
		text-align: start;
  }
}

p {
	color: var(--color-pink);
}

h1 {
  text-transform: uppercase;
}

a {
	color: var(--color-pale-dark-red);

	&:visited {
		color:  var(--color-pale-dark-red);
	}
	&:hover {
		color: var(--color-red);
	}
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
}