@use './settings/typography' as *;
@use './tools/media-query' as *;
@use './tools/px-to-rem' as *;
@use './tools/fluid-unit' as *;

.coming-soon__logo {
  width: fluid-unit(
		(
			mobile: 100px,
			desktop: 150px,
		)
	);
}

.coming-soon__wrapper {
  display: grid;
	grid-template-columns: 1fr;
  
  @include mq(tablet) {
		align-items: center;
		grid-template-columns: repeat(3, 1fr);
		height: 100vh;
  }
}

.coming-soon__hero-image {     
  width: 100%;
	height: 100%;

  @include mq(tablet) {
    order: 1;   
		grid-column: span 2;              
  }
}

.coming-soon__hero-image img {
  width: 100%;
  height: 100%;               
  object-fit: cover;      
}

.coming-soon__heading--light {
  @include font-set(h1-light);

	color: var(--color-pink);
}
.coming-soon__hero-image {
	width: 100%;

	@include mq(tablet) {
		order: 1;
	}
}

.coming-soon__content {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: var(--space-m);
	margin: var(--space-margin-top-bottom-s)  var(--space-margin-left-right);

	@include mq(tablet) {
		justify-content: center;
		order: 0;
		text-align: start;
		min-width: px-to-rem(340px);
	}
}

.coming-soon__form {
	position: relative;
	display: flex;
	height: fluid-unit(
		(
			mobile: 50px,
			desktop: 55px,
		)
	);
}

.coming-soon__form input::placeholder {
	color: var(--color-pink);
}


.coming-soon__form input[type=email]:focus-visible {
	outline: 1px solid var(--color-red);
}

.coming-soon__form input[type=email] {
	padding-right: var(--space-l);
	padding-left: var(--space-xs);
	padding-bottom: var(--space-s);
	padding-top: var(--space-s);
	border: 1px solid var(--color-pink);
	border-radius: px-to-rem(20px);
}

.coming-soon__form input[type=submit] {
	position: absolute;
	padding: 0;
	right: 0;
	border:0;
	width: px-to-rem(60px);
	cursor: pointer;
	height: fluid-unit(
		(
			mobile: 51px,
			desktop: 57px,
		)
	);
	border-radius: px-to-rem(20px); 
	background: linear-gradient(135deg, var(--color-pale-red), var(--color-red));
	box-shadow: 5px 5px 10px var(--color-pale-red);
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;

	@include mq(tablet) {
		width: px-to-rem(80px);
	}
}

.coming-soon__form-submit input:hover {
	background: linear-gradient(135deg, var(--color-pale-pink), var(--color-pale-red));
	transform: scale(1.05);
	box-shadow: 5px 5px 10px var(--color-pink);
}

.coming-soon__form-submit::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 2px;
	transform: translate(-50%, -50%);
	width: px-to-rem(20px);
	height: px-to-rem(20px);
	background-image: url('/images/icon-arrow.svg');
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none;

	@include mq(tablet) {
		right: 12px;
	}
}

.coming-soon__form-error {
	display: none;
	content: '';
	position: absolute;
	top: 50%;
	right: 60px;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-image: url('/images/icon-error.svg');
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none;

	@include mq(tablet) {
		right: 80px;
	}
}

#error-message {
	@include font-set(text-small);
	
	color: var(--color-red);
	display: none;
	position: absolute;
	text-align: start;
	margin-top: px-to-rem(10px);
	margin-left: px-to-rem(20px);
}
